h1 {
    color: rgb(255, 248, 248);
    font-size: 25px;
    border: solid rgb(238, 238, 238);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(39, 31, 143);
    border-radius: 5%;
    margin: auto;
    width: 600px;
    padding: 1%;
}

p{
    font-size: 30px;
    margin-right:30px;
    font-weight: bold;
    width: 500px;
}

li{
    font-size: 20px;
    text-align: inherit;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}

body{
    background-color: rgb(139, 135, 135);
}

a{
    font-size: 25px;
}

img{
    width: 300px;
    height: 300px;
    display: block;
}

a{
    text-decoration: none;
}

div{
    background-color: #f5f5f5;
    padding: 50px;
    width: 930px;
    margin: 0 auto;
   
    text-align: center;
}


.primeiro_assunto{
    width: 95%;
    font-weight:normal;
   color: #000000;
}


.como_funciona{
    width: 95%;
    font-weight:normal;
    color: #000000;
    margin-top: 100px;
}


.funciona{
    font-size: 40px;
    color: #000000;
}



#inicio{
    background-image: url('../img/cliqueaq.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding-top: 0;
    padding-bottom: 0;
    /* padding: 0; */
    background-position: top;
    height: 400px;
    margin-bottom: 20px;
}


#mudar{
    color: #ffffff;
    border: solid rgb(172, 163, 163);
    border-radius: 20px;
    background-color: rgb(158, 147, 147);
}

#link{
    color: #ffffff;
    border: solid rgb(172, 163, 163);
    border-radius: 30px;
    background-color:rgb(158, 147, 147);
}

#roxo{
    background-size: cover;
    /* background-repeat: no-repeat; */
    padding-top: 0;
    padding-bottom: 0;
    /* padding: 0; */
    background-position: top;
    height: 800px;
    margin-bottom: 20px;
}


section{
    font-size: 40px;
    margin-left: 10px;
}

header{
    background-color:rgb(158, 147, 147);
    position: fixed;
    width: 100%;
}
