body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffc400a1;
    color: #fff;
    padding: 1rem;
    text-align: center;
    height: 50px;
    
}

nav {
    background-color: #868477;
  
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

.container-banner {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 2rem;
    background-color: #f1ec9b;
    text-align: center;
}
.container-texto {
    width: 100%;
}

.container-texto h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.container-texto p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #666;
}

.img-bombom-na-gaiola, .img-bombom-no-fio {
    margin-top: 4rem;
    text-align: center;
    /* flex-direction: column; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.img-bombom-na-gaiola img, .img-bombom-no-fio img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.img-bombom-na-gaiola h2 {
    margin-top: 1rem;
    font-size: 20px;
    color: #333;
    max-width: 400px;
}
.img-bombom-no-fio  p{
    margin-top: 4rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* .img-bombom-no-fio img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
} */

.img-bombom-no-fio h2 {
    margin-top: 1rem;
    border-radius: 20px black;
    font-size: 1rem;
    color: #333;
    max-width: 400px;
}


footer {
    background-color: #ffc400a1;
    color: #fff;
    text-align: center;
    width: 100%;
}


header h1 {
    font-size: 2.5rem;
    font-weight: bold;
}


.container-geral {
    /* width: 40vw; */
    min-width: 300px;
}